<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Window</title>
</head>
<body>
    
    <button id="logout" style="margin-left:80rem;margin-top:0rem;">Logout</button>
    <h1>Welcome to chat application</h1>
    <!-- <h3> List of Online Users</h3>
    <div id="onlineuser"></div>
    <h3>Here you can chat</h3> -->
    <div id="allchat"></div>
    <input type="text" id="message">
    <button id="sendbtn">Send</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="./chatwindow.js"></script>
    
</body>
</html>